<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Contact Name: <%= "#{@name}" %></h1>
    <h2>Email Address: <%= "#{@email}" %></h2>
    <h3>Phone: <%= "#{@phone}" %></h3>
    <h3>Message:</h3>
    <p> <%= "#{@message}" %></p>
  </body>
</html>