<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Contact Name: <%= "#{@name}" %></h1>
    <h2>Email Address: <%= @contact_email %></h2>
    <h3>Services of Interest: <%= @service %></h3>
    <h3>Message:</h3>
    <p> <%= @message %></p>
  </body>
</html>